# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\dpbur\Desktop\Final-Semester\4398-Projects-in-Computer-Science\prototype-repo\Server-Client-Prototype\Server-Client-Prototype\ClientPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
